. {
   debug
   netbox {
     token  0123456789abcdef0123456789abcdef01234567
     url    http://localhost:8000/api/ipam/ip-addresses
     localCacheDuration 1h
   }

   hosts {
        10.0.0.1 example.org
        fallthrough
   }
}
